.timeline-widget__main-title {
	position: relative;
	width: 350px;
	&::before {
		content: '';
		position: absolute;
		left: -80px;
		height: 80%;
		top: 10%;
		width: 6px;
		background: linear-gradient(to bottom, #3877ee, #ef5da8);

		@media (max-width: 1024px) {
			left: -40px;
		}

		@media (max-width: 768px) {
			left: -20px;
		}
	}
}
