.period-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
	color: #42567a;
	margin: 0;

	@media (max-width: 1024px) {
		font-size: 48px;
	}

	@media (max-width: 768px) {
		font-size: 36px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
	}
}
